@model LibraryProject.Models.BookModel

@{
    ViewBag.Title = Model.Title;
}

<div class="text-center" style="margin-top: 26px; margin-bottom: 26px;">
    <h2>@Model.Title (@Model.YearWritten)</h2>
    <h5>@Model.Author</h5>
</div>

<div class="row">
    <div class="col-xs-12 col-sm-4">
        <img src="https://upload.wikimedia.org/wikipedia/lt/2/2b/Altori%C5%B3_%C5%A1e%C5%A1%C4%97ly.jpg" class="center-block book-img" />
    </div>
    <p class="col-xs-12 col-sm-8">@Model.Description</p>
</div>

<h2>Paskutiniai naudotojai</h2>
<table class="table table-hover">
    <tr>
        <th>Vardas</th>
        <th>Pavardė</th>
        <th>Rezervacija nuo</th>
        <th>Rezervacija iki</th>
    </tr>

    <tr>
        <td>Petras</td>
        <td>Petrauskas</td>
        <td>2020-10-10</td>
        <td>2020-11-10</td>
    </tr>
    <tr>
        <td>Antanas</td>
        <td>Antanauskas</td>
        <td>2020-09-23</td>
        <td>2020-10-01</td>
    </tr>
    <tr>
        <td>Domas</td>
        <td>Domauskas</td>
        <td>2020-05-14</td>
        <td>2020-07-10</td>
    </tr>
</table>
