
@{
    ViewBag.Title = "ConfirmLeave";
}

<h2>Atostogų patvirtinimas</h2>
<h1>Ar tikrai norite patvirtinti atostogas?</h1>
<td></td>

<p><a class="btn btn-primary" href="@Url.Action("ViewRequestsToLeave", "Worker")">Taip</a></p>
<p><a class="btn btn-primary" href="@Url.Action("ViewRequestsToLeave", "Worker")">Ne</a></p>