
@{
    ViewBag.Title = "EditWorkerForm";
}

<h2>Redaguoti darbuotoją</h2>
<div class="form-group">
    <label for="name">Darbuotojo vardas</label>
    <input type="text" class="form-control" id="name" placeholder="Įveskite darbuotojo vardą">
</div>
<div class="form-group">
    <label for="genre">Darbuotojo pavardė</label>
    <input type="text" class="form-control" id="genre" placeholder="Įveskite Darbuotojo pavardę">
</div>
<div class="form-group">
    <label for="year">Darbuotojo gimimo data</label>
    <input type="date" class="form-control" id="year" placeholder="Įveskite darbuotojo gimimo datą">
</div>
<div class="form-group">
    <label for="tier">Darbuotojo rangas</label>
    <input type="text" class="form-control" id="tier" placeholder="Įveskite darbuotojo rangą">
</div>
<div class="form-group">
    <label for="id">Darbuotojo identifikavimo kodas</label>
    <input type="text" class="form-control" id="id" placeholder="Įveskite darbuotojo identifikavimo kodą">
</div>
<p><a class="btn btn-primary" href="@Url.Action("Index", "Worker")">Priimti pakeitimus</a></p>