
@{
    ViewBag.Title = "RemoveWorkerForm";
}

<h2>Darbuotojo ištrinimas</h2>
<h1>Ar tikrai norite ištrinti darbuotoją?</h1>
<td></td>

<p><a class="btn btn-primary" href="@Url.Action("Index", "Worker")">Taip</a></p>
<p><a class="btn btn-primary" href="@Url.Action("Index", "Worker")">Ne</a></p>